{
  "semi": true,
  "trailingComma": "none",
  "printWidth": 200,
  "overrides": [
    {
      "files": ["client/src/**/*.ts", "client/src/*.ts", "server/src/**/*.ts", "server/src/*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
