{
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "printWidth": 150,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
